@charset "utf-8";
/* CSS Document */
#sidebar {

    padding: 10px;
}

#sidebar a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
    background-color: #D5AA00;
    color: #FFF;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
    background-color: #373737;
}

#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #C72A25;
}

